/log
/logs
/target
/tmp
project/project
project/target
.history
/dist
/bin
/RUNNING_PID
.DS_Store
.cache
*.swp
application-log*.gz
monitor-log*.gz
.tmpBin
buildinfo.properties

# IDEA:
.idea
*.iml
*.ipr
*.iws
/out
/.idea_modules

# Eclipse:
.settings
.classpath
.project
.target