<?cass version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="FILE_PREFIX_PATH" value="target/logs/tcp_akka_server" />
    <!-- ============================ -->
    <!-- Appenders -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- CAUTION: %M\(%line\) reduces performance. Avoid in PROD env-s. -->
        <encoder>
            <pattern>%-4relative %date{HH:mm:ss.SSSZZZZ} [%thread] %-5level %logger{35}.%M\(%line\) - %msg
                %xException%n
            </pattern>
        </encoder>
    </appender>


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE_PREFIX_PATH}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${FILE_PREFIX_PATH}.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ssZZZZ} - [%level] - %logger %thread %message %xException%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="STDOUT"/>
    </appender>

    <!-- ============================ -->
    <!-- Loggers -->
    <logger name="org" level="WARN"/>
    <logger name="javax.management" level="WARN"/>

    <logger name="tech.pragmarad.tcom" level="DEBUG" additivity="false">
        <appender-ref ref="ASYNC_FILE"/>
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>


    <!-- ============================ -->
    <!-- Strictly speaking, the level attribute is not necessary since -->
    <!-- the level of the root level is set to DEBUG by default.       -->
    <root level="DEBUG">
        <appender-ref ref="ASYNC_FILE"/>
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>

</configuration>
